body{
    height: 100vh;
    background-color: #ABC9FF;
    font-family: 'Open Sans', sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.flex h2{
    font-size: 100px;
}

.flex p{
    font-size: 30px;
}

#small,#medium{display: none;}

@media screen and (max-width: 1024px){
    body{background-color: #FFDEDE;}
    .flex h2{font-size: 60px;}
    .flex p{font-size: 20px;}
    #medium{display: block;}
    #small,#large{display: none;}
}

@media screen and (max-width: 480px){
    body{background-color: #FF8B8B;}
    .flex h2{font-size: 40px;}
    .flex p{font-size: 10px;}
    #small{display: block;}
    #medium,#large{display: none;}
}